<div>
  <p>
    You are not logged in! &nbsp;
    <a href="http://localhost:5000/logIn"> Log in </a>
    &nbsp;&nbsp;&nbsp;
    <a href="http://localhost:5000/register"> Register </a>
  </p>
</div>