You are logged in as {{user}}! <form action="/logOut" method="post" style="display:inline;">
<input type="submit" verticalonclick="location.href='http://localhost:5000/homePage';" value="log out">
	</form>