<p>
  You are not logged in!
  <a href="http://localhost:{{port}}/logIn"> Log in </a>
  &nbsp;
  <a href="http://localhost:{{port}}/register"> Register </a>
  &nbsp;
  <a href="http://localhost:{{port}}/shortUrls"> URL shortener </a>
</p>