<p> {{problem}} </p>

<form action="/logIn" method="post">
  <p>
    Username:
    <br />
    <input type="text" name="username" placeholder="Username" required />
  </p>
  <p>
    Password:
    <br />
    <input type="password" name="password" placeholder="Password" required />
  </p>
  <input type="submit" value="log in" />
</form>

<p>
  If you do not have an account:
  <a href="http://localhost:5000/register"> Register </a>
</p>