<p> Author: <span class="author"> {{author}} </span> </p>

<form action="newPost" method="POST">
  <p>
    <input
      type="text"
      name="title"
      placeholder="Title"
      maxlength="20"
      required
    />
  </p>
  <p>
    <textarea
      class="content"
      name="content"
      placeholder="blog content"
      cols="30"
      rows="10"
    ></textarea>
  </p>
  <input type="submit" value="Publish" />
</form>
<div class="redirectLinks">
  <p>
    <a href="http://localhost:{{port}}/homePage"> home page </a>
  </p>
  <p>
    <a href="http://localhost:{{port}}/posts"> posts </a>
  </p>
</div>