<div class="redirectLinks">
  <p>
    <a href="http://localhost:{{port}}/homePage"> home page </a>
  </p>
  <p>
    <a href="http://localhost:{{port}}/newPost"> new post </a>
  </p>
</div>
<div class="rightSidebar">
  <p> Recent posts: </p>
  {{#each posts}}
    <div class="recentPosts">
      <a href="http://localhost:5000/blogs/{{this}}"> {{this}} </a>
    </div>
  {{/each}}
</div>