{{problem}}

<form action="/register" method="post">
  	Username:<br>
  	<input type="text" name="username" placeholder="Username" required><br><br>
  	Password:<br>
  	<input type="password" name="password" placeholder="Password" required><br><br>
  	<input type="submit" value="register">
	</form>

<p>If you already have an accout, log in here: <input type="button" onclick="location.href='http://localhost:5000/logIn';" value="Log in" /></p>